* {
    box-sizing: borderbox;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

h1 {
    background-color: rgb(35, 30, 127);
    height: 80px;
    width: 100%;
    text-align: center;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(67, 114, 196);
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-align: center;
    gap: 10px;
    margin: 10px;
    padding: 30px;
    background-color: rgb(254, 231, 201);
    border-radius: 25px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

button {
    padding: 10px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgb(183, 171, 171);
}

.navbar {
    background-color: rgb(16, 11, 76);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
.navbar a:hover {
    background-color: rgb(34, 8, 137);
}
  
.navbar a.active {
    background-color: rgb(34, 8, 137);
    color: white;
}

div {
    display: flex;
    justify-content: space-around;
}

.hashtag {
    display: flex;
    justify-content: row;
    gap: 5px;

}

li {
    padding: 4px;
    background-color: rgb(191, 189, 189);
    border-radius: 3px;
}

img {
    height: 40px;
}












